
.check-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.check-panel {
  width: 50%;
}

.check-menu {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  width: 100%;
}

.tax-and-tips {
  display: flex;
  justify-content: space-around;
}

/* Larger than mobile screen */
@media (min-width: 50.0rem) {
  .menu-item {
    width: 50%;
  }
}

/* Larger than tablet screen */
@media (min-width: 70.0rem) {
  .menu-item {
    width: 33%;
  }
}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {

}