.tables {
  text-align: center;
}

.tables-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.table {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  width: 19%;
}

.table--occupied {
  border: 2px solid #D62A1C;
}

.table--unoccupied {
  border: 2px solid #C9CF31;
}

@media all and (max-width: 675px) {
  .table {
    width: 48%;
  }
}